# SPDX-FileCopyrightText: 2024 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-License-Identifier: Apache-2.0
---
additionalAnnotations:
  {{ .Values.annotations.opendeskMigrationsPost.additional | toYaml | nindent 2 }}

podAnnotations:
  intents.otterize.com/service-name: "opendesk-migrations-post"
  {{- with .Values.annotations.opendeskMigrationsPost.pod }}
  {{ . | toYaml | nindent 2 }}
  {{- end }}

serviceAccount:
  annotations:
    {{ .Values.annotations.opendeskMigrationsPost.serviceAccount | toYaml | nindent 4 }}

migrations:
  stage: "POST"
  secretFiles:
  {{- if and .Values.apps.nubus.enabled .Values.apps.element.enabled }}
    - name: "synapse-db-password"
      secret:
        name: {{ .Values.databases.synapse.password.name | quote }}
        key: {{ .Values.databases.synapse.password.key | quote }}
    # The Synapse access token of the provisioning admin, created by the
    # `opendesk-provisioning-admin-bootstrap` release. The same account the provisioning
    # connector uses, so no second admin account is needed for the migration.
    - name: "synapse-admin-token"
      secret:
        name: "provisioning-admin-account"
        key: "access_token"
  {{- end }}
...
