# SPDX-FileCopyrightText: 2024-2026 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
# SPDX-License-Identifier: Apache-2.0
---
additionalAnnotations:
  {{ .Values.annotations.matrixUserVerificationService.additional | toYaml | nindent 2 }}

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - "ALL"
  enabled: true
  privileged: false
  readOnlyRootFilesystem: true
  runAsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000
  seccompProfile:
    type: "RuntimeDefault"
  seLinuxOptions:
    {{ .Values.seLinuxOptions.matrixUserVerificationService | toYaml | nindent 4 }}

extraEnvVars:
  - name: "UVS_ACCESS_TOKEN"
    valueFrom:
      secretKeyRef:
        name: "opendesk-matrix-user-verification-service-account"
        key: "access_token"
  - name: "UVS_DISABLE_IP_BLACKLIST"
    value: "true"
{{- if .Values.debug.enabled }}
  - name: "UVS_LOG_LEVEL"
    value: "debug"
{{- end }}
{{- if .Values.trust.secret.mount }}
  - name: "NODE_EXTRA_CA_CERTS"
    value: "/etc/ssl/certs/ca-certificates.crt"
{{- end }}
extraVolumes:
  # Provide writable storage for npm's cache and logs.
  - name: "npm"
    emptyDir: {}
{{- if .Values.trust.secret.mount }}
  - name: "trusted-cert-secret-volume"
    secret:
      secretName: {{ .Values.trust.secret.name | quote }}
      items:
        - key: "ca.crt"
          path: "ca-certificates.crt"
{{- end }}
extraVolumeMounts:
  - name: "npm"
    mountPath: "/home/node/.npm"
{{- if .Values.trust.secret.mount }}
  - name: "trusted-cert-secret-volume"
    mountPath: "/etc/ssl/certs/ca-certificates.crt"
    subPath: "ca-certificates.crt"
{{- end }}


global:
  domain: {{ .Values.global.domain | quote }}
  hosts:
    {{ .Values.global.hosts | toYaml | nindent 4 }}
  imagePullSecrets:
    {{ .Values.global.imagePullSecrets | toYaml | nindent 4 }}

image:
  imagePullPolicy: {{ .Values.global.imagePullPolicy | quote }}
  registry: {{ coalesce .Values.repositories.image.registryOpencodeDe .Values.global.imageRegistry .Values.images.matrixUserVerificationService.registry | quote }}
  repository: {{ .Values.images.matrixUserVerificationService.repository | quote }}
  tag: {{ .Values.images.matrixUserVerificationService.tag | quote }}

podAnnotations:
  intents.otterize.com/service-name: "opendesk-matrix-user-verification-service"
  {{- with .Values.annotations.matrixUserVerificationService.pod }}
  {{ . | toYaml | nindent 2 }}
  {{- end }}

podSecurityContext:
  enabled: true
  fsGroup: 101

replicaCount: {{ .Values.replicas.matrixUserVerificationService }}

resources:
  {{ .Values.resources.matrixUserVerificationService | toYaml | nindent 2 }}

service:
  annotations:
    {{ .Values.annotations.matrixUserVerificationService.service | toYaml | nindent 4 }}

serviceAccount:
  annotations:
    {{ .Values.annotations.matrixUserVerificationService.serviceAccount | toYaml | nindent 4 }}

...
