# SPDX-FileCopyrightText: 2024-2026 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
# SPDX-License-Identifier: Apache-2.0
---
additionalAnnotations:
  {{ .Values.annotations.matrixNeoDateFixBot.additional | toYaml | nindent 2 }}

global:
  domain: {{ .Values.global.domain | quote }}
  hosts:
    # Todo: The bot chart still uses element for the Element Web hostname.
    {{ mergeOverwrite (deepCopy .Values.global.hosts) (dict "element" .Values.global.hosts.elementWeb) | toYaml | nindent 4 }}
  imagePullSecrets:
    {{ .Values.global.imagePullSecrets | toYaml | nindent 4 }}

configuration:
  bot:
    username: "meetings-bot"
    displayname: "Terminplaner Bot"
  openxchangeBaseUrl: "https://{{ .Values.global.hosts.openxchange }}.{{ .Values.global.domain }}"
  strings:
    breakoutSessionWidgetName: "Breakoutsessions"
    calendarRoomName: "Terminplaner"
    calendarWidgetName: "Terminplaner"
    cockpitWidgetName: "Meeting Steuerung"
    elementCallWidgetName: "Videokonferenz"
    jitsiWidgetName: "Videokonferenz (Jitsi)"
    matrixNeoBoardWidgetName: "Whiteboard"
    matrixNeoChoiceWidgetName: "Abstimmungen"

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - "ALL"
  enabled: true
  privileged: false
  readOnlyRootFilesystem: true
  runAsGroup: 101
  runAsNonRoot: true
  runAsUser: 101
  seccompProfile:
    type: "RuntimeDefault"
  seLinuxOptions:
    {{ .Values.seLinuxOptions.matrixNeoDateFixBot | toYaml | nindent 4 }}

extraEnvVars:
  - name: "ACCESS_TOKEN"
    valueFrom:
      secretKeyRef:
        name: "matrix-neodatefix-bot-account"
        key: "access_token"
{{- if .Values.trust.secret.mount }}
  - name: "NODE_EXTRA_CA_CERTS"
    value: "/etc/ssl/certs/ca-certificates.crt"

extraVolumes:
  - name: "trusted-cert-secret-volume"
    secret:
      secretName: {{ .Values.trust.secret.name | quote }}
      items:
        - key: "ca.crt"
          path: "ca-certificates.crt"
extraVolumeMounts:
  - name: "trusted-cert-secret-volume"
    mountPath: "/etc/ssl/certs/ca-certificates.crt"
    subPath: "ca-certificates.crt"
{{- end }}

image:
  imagePullPolicy: {{ .Values.global.imagePullPolicy | quote }}
  registry: {{ coalesce .Values.repositories.image.registryOpencodeDe .Values.global.imageRegistry .Values.images.matrixNeoDateFixBot.registry | quote }}
  repository: {{ .Values.images.matrixNeoDateFixBot.repository | quote }}
  tag: {{ .Values.images.matrixNeoDateFixBot.tag | quote }}

ingress:
  enabled: {{ .Values.ingress.enabled }}
  ingressClassName: {{ .Values.ingress.ingressClassName | quote }}
  tls:
    enabled: {{ .Values.ingress.tls.enabled }}
    secretName: {{ .Values.ingress.tls.secretName | quote }}
  annotations:
    {{ .Values.annotations.matrixNeoDateFixBot.ingress | toYaml | nindent 4 }}

livenessProbe:
  enabled: true

persistence:
  size: {{ .Values.persistence.storages.matrixNeoDateFixBot.size | quote }}
  storageClass: {{ coalesce .Values.persistence.storages.matrixNeoDateFixBot.storageClassName .Values.persistence.storageClassNames.RWO | quote }}
  annotations:
    {{ .Values.annotations.matrixNeoDateFixBot.persistence | toYaml | nindent 4 }}

podAnnotations:
  intents.otterize.com/service-name: "matrix-neodatefix-bot"
  {{- with .Values.annotations.matrixNeoDateFixBot.pod }}
  {{ . | toYaml | nindent 2 }}
  {{- end }}

podSecurityContext:
  enabled: true
  fsGroup: 101

readinessProbe:
  enabled: true

replicaCount: {{ .Values.replicas.matrixNeoDateFixBot }}

resources:
  {{ .Values.resources.matrixNeoDateFixBot | toYaml | nindent 2 }}

service:
  annotations:
    {{ .Values.annotations.matrixNeoDateFixBot.service | toYaml | nindent 4 }}

serviceAccount:
  annotations:
    {{ .Values.annotations.matrixNeoDateFixBot.serviceAccount | toYaml | nindent 4 }}

...
