# SPDX-FileCopyrightText: 2024-2026 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-License-Identifier: Apache-2.0
---
images:
  collabora:
    # providerCategory: "Supplier"
    # providerResponsible: "Collabora"
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/collabora/images/collabora-online-for-opendesk"
    tag: "26.04.3.3.1@sha256:e60950e80bbd0ed165226947173d5b9954203f6ebeda4ec9e3cf2bc6657f66c1"
  dovecot:
    # enterpriseRegistryBase: "OX_EE_REGISTRY"
    # enterpriseRegistryPath: "OX_EE_REGISTRY_PATH_DOVECOT_IMAGE"
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-.+$'
    # upstreamMirrorStartFrom: ["3", "0", "7"]
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/open-xchange/images-mirror/dovecot-pro"
    tag: "3.0.7-rev5@sha256:07761e6e8ddd585cf647f91e9d2a43ffadae2c8a31570ba4fafe594ded2c3a80"
  nextcloud:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/nextcloud/images/opendesk-nextcloud"
    tag: "33.0.9@sha256:70c31b7ebfcc27eb09583ea360722ccf4ea7d9ae89b46e5f660d0caa7bdb4773"
  openxchangeCoreMW:
    # enterpriseRegistryBase: "OX_EE_REGISTRY"
    # enterpriseRegistryPath: "OX_EE_REGISTRY_PATH_APPSUITE_IMAGE"
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["8", "51", "0"]
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/open-xchange/images-mirror/middleware-public-sector-pro"
    tag: "8.52.212@sha256:54af8be9d771d14e18ce8851227586cd7098c20d8ac4e740dcf00c0c5450c97c"
...
