# SPDX-FileCopyrightText: 2024-2026 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
# SPDX-License-Identifier: Apache-2.0

#
# DISCLAIMER:
#
# The values in this file are exposed because they are used in multiple components and it does make sense to define
# them centrally, but we do not support changing these values, please leave them as they are.
#
---
ldap:
  host: "ums-ldap-server"
  notifierHost: "ums-ldap-notifier"
  baseDn: "dc=swp-ldap,dc=internal"
## Define Keycloak realmname for openDesk
platform:
  realm: "opendesk"
  # ULID identifying the `opendesk-matrix` OIDC provider
  matrixMasProviderId: "01M6TR1XE1EMENT0PENDESKMAS"
  # ULID identifying the Synapse guest module's MAS client
  matrixGuestModuleMasClientId: "00000000PENDESKG0ESTM0DADM"
  # ULID identifying the openDesk Provisioning Connector's MAS client
  matrixProvisioningMasClientId: "00000000PENDESKPR0V1S10NER"
...
