# SPDX-FileCopyrightText: 2024-2026 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
# SPDX-License-Identifier: Apache-2.0
#
# Please read the /docs/developer/development.md for information about structure and annotations used in this file.
---
images:
  bitnamiOSShell:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "bitnami/os-shell"
    # upstreamMirrorTagFilterRegEx: '^(\d+)-debian-(\d+)-r(\d+)$'
    # upstreamMirrorStartFrom: ["12", "12", "44"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/community/images-mirror/os-shell"
    tag: "12-debian-12-r44@sha256:e0eab38c4e2e2ebfc9043bc9bc482109ec5cca3123154c1af8e040ea23c5ce98"
  busybox:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "library/busybox"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["1", "38", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/busybox"
    tag: "1.38.0@sha256:1cfa4e2b09e127b9c4ed43578d3f3c18e7d44ea47b9ea98475c0cbe9086525f8"
  cassandra:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "bitnami/cassandra"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-debian-(\d+)-r(\d+)$'
    # upstreamMirrorStartFrom: ["5", "0", "4", "12", "4"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/community/images-mirror/cassandra"
    tag: "5.0.4-debian-12-r4@sha256:93be59e318070e5c1d515c2b5840e9e07babfbac845b2c9bcc1cdf8efda6bb18"
  cassandraExporter:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "bitnami/cassandra-exporter"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-debian-(\d+)-r(\d+)$'
    # upstreamMirrorStartFrom: ["2", "3", "8", "12", "46"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/community/images-mirror/cassandra-exporter"
    tag: "2.3.8-debian-12-r46@sha256:3b460a6287f24ef96626439825c9e3fa822784d802209f38c7541d8289eb51d8"
  clamd:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "clamav/clamav"
    registry: "registry-1.docker.io"
    repository: "clamav/clamav"
    tag: "1.5.4_base@sha256:85dbdcae852ad2e51a54e4a6e29c099f45971df746204ffc1274cb7ef7ff3f7b"
  collabora:
    # providerCategory: "Supplier"
    # providerResponsible: "Collabora"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/collabora/images/collabora-online-for-opendesk"
    tag: "26.04.2.4.1@sha256:8e72cb0c1c9e1e7c2060cefe0ad994522d3e488619b433aaee50350a11077497"
  collaboraController:
    # enterpriseRegistryBase: "COOL_EE_REGISTRY"
    # enterpriseRegistryPath: "COOL_EE_REGISTRY_PATH_COCO_IMAGE"
    # providerCategory: "Supplier"
    # providerResponsible: "Collabora"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["1", "2", "0"]
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/collabora/images-mirror/cool-controller"
    tag: "1.4.0@sha256:a5c468cf00363d194cb3afed0cf696ec18b64ac639155fc95b446cc1113a42b9"
  cryptpad:
    # providerCategory: "Supplier"
    # providerResponsible: "XWiki"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "cryptpad/cryptpad"
    # upstreamMirrorTagFilterRegEx: '^\w+-(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["2026", "8", "4"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/xwiki/images-mirror/cryptpad"
    tag: "opendesk-2026.08.04@sha256:127bd5c8c659c976b1320db1da8bc5be298874b2b308bd8831755106df7fc04c"
  dkimpy:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/dkimpy-milter"
    tag: "1.1.0@sha256:f140c7fc3fd9636addc612edd6e10f6aefa69e34ff637c95ce9036a32e44555f"
  dovecot:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images/dovecot-public-sector"
    tag: "2.3.21@sha256:c76965a84d1ca527f523404eb027119f6736b199c094e4671037cb345ecad3dc"
  dovecotBootstrap:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "alpine/k8s"
    registry: "registry-1.docker.io"
    repository: "alpine/k8s"
    tag: "1.36.2@sha256:44ef4942e171939b9c665a4a84beb80e2dcdb9a24330d4651cfdfd2e9deecc47"
  dovecotCassandra:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "library/cassandra"
    registry: "registry-1.docker.io"
    repository: "library/cassandra"
    tag: "5.0.8-bookworm@sha256:e52bb93c21f69cc5c2f5eb9e7d9736b10a047ad38bc7776480c7dbbf7d4e0ba7"
  element:
    # providerCategory: "Supplier"
    # providerResponsible: "Element"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/element/images/opendesk-element-web"
    tag: "v1.12.18@sha256:4dbe226d31a6b69fab22878cf9480102087ddbf2ca51848232b4106ce1e9b1ca"
  elementAdminBot:
    # providerCategory: "Supplier"
    # providerResponsible: "Element"
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/element/images-mirror/access_element_web"
    tag: "v1.11.109@sha256:d0ddee5e8f6ad4858f1294acfc2827be959547d9e87757378dcfa2b5b3dfa087"
  elementGroupsync:
    # providerCategory: "Supplier"
    # providerResponsible: "Element"
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/element/images-mirror/groupsync"
    tag: "v0.14.0@sha256:a8cee92b9035d8cc80cc13194e4e0118c7dfbfcbc4c0ee5ac173582d0cd55846"
  elementPipe:
    # providerCategory: "Supplier"
    # providerResponsible: "Element"
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/element/images-mirror/pipe"
    tag: "6.7.1@sha256:3b9bcf59faa065b8650ca619d48b2d752c9678243589a0939659f4fce074f271"
  elementSynapseAdmin:
    # providerCategory: "Supplier"
    # providerResponsible: "Element"
    registry: "registry.opencode.de"
    repository: "zendis/opendesk-enterprise/components/supplier/element/images-mirror/synapse_admin"
    tag: "v17.10.00@sha256:09a1507cb060591a16451c23f6610b7aca7ad3edf8192cde76220c1650f5ccd1"
  elementSyncAdmins:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-element-syncadmins"
    tag: "1.0.5@sha256:ae0e18eadea762e11f8edacc52285742a5c4ed6e2e92bfa32ec5638e377e7b7b"
  freshclam:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "clamav/clamav"
    registry: "registry-1.docker.io"
    repository: "clamav/clamav"
    tag: "1.5.4_base@sha256:85dbdcae852ad2e51a54e4a6e29c099f45971df746204ffc1274cb7ef7ff3f7b"
  icap:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/clamav-icap"
    tag: "0.6.4@sha256:f891dcb44810f43205ee23956dfe83e3639e9541c089345da0e859b17630cfcf"
  intercom:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/intercom-service"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["2", "1", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/intercom-service"
    tag: "2.24.0@sha256:773ce08cdfa6276351d0ddaf55550bfca037c89d1da6623edfe5b516e0f35dc8"
  jibri:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "jitsi/jibri"
    # upstreamMirrorTagFilterRegEx: '^stable-(\d+)-?\d?$'
    # upstreamMirrorStartFrom: ["11146"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/jibri"
    tag: "stable-11146-1@sha256:4df4c547e148fad5f5f5449e4da079667f13afb370ef95ee3da7cd71303457a3"
  jicofo:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "jitsi/jicofo"
    # upstreamMirrorTagFilterRegEx: '^stable-(\d+)-?\d?$'
    # upstreamMirrorStartFrom: ["11146"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/jicofo"
    tag: "stable-11146-1@sha256:e97f3e568ccdc361bf1521321cf0d5a14202ecbee965fd3d28d804847364f387"
  jigasi:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "jitsi/jigasi"
    # upstreamMirrorTagFilterRegEx: '^stable-(\d+)-?\d?$'
    # upstreamMirrorStartFrom: ["11146"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/jigasi"
    tag: "stable-11146-1@sha256:268ed5e89cf59c7773da794cb0301dac77e9cf35d685d3bf86e8a2c4bde5f236"
  jitsi:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "jitsi/web"
    # upstreamMirrorTagFilterRegEx: '^stable-(\d+)-?\d?$'
    # upstreamMirrorStartFrom: ["11146"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/web"
    tag: "stable-11146-1@sha256:e60202d77b2f98ef2d275fc030817501702c6f74ca2a9685d1ee1b8a9117735e"
  jitsiKeycloakAdapter:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "nordeck/jitsi-keycloak-adapter"
    # upstreamMirrorTagFilterRegEx: '^v(\d\d\d\d)(\d\d)(\d\d)$'
    # upstreamMirrorStartFrom: ["2023", "12", "14"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/jitsi-keycloak-adapter"
    tag: "v20260623@sha256:d4c08aaba0354b7fa8e552bc10f35e7c54538b93ddd836b5940dc25d41e6d3a4"
  jitsiPatchJVB:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "bitnami/kubectl"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["1", "32", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/community/images-mirror/kubectl"
    tag: "1.33.4@sha256:681609aff6bf316acf464d9c9e369d84c49d50be6379247291b01ac311a7f5f5"
  jvb:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "jitsi/jvb"
    # upstreamMirrorTagFilterRegEx: '^stable-(\d+)-?\d?$'
    # upstreamMirrorStartFrom: ["11146"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/jvb"
    tag: "stable-11146-1@sha256:5bf72ce5125700870037534e8992148b37bdd6c669913c547e9220655343b956"
  mariadb:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "library/mariadb"
    registry: "registry-1.docker.io"
    repository: "library/mariadb"
    tag: "10.6.21@sha256:8a16204dc96c08ed0ee2c52c0f9324aa5d2dd0e43ad23a471d447a39f75765b5"
  matrixNeoBoardWidget:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "nordeck/matrix-neoboard-widget"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["1", "4", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/matrix-neoboard-widget"
    tag: "2.4.0@sha256:dc739bef1947d263e72198bcb59b640f829203bf53f8eb06815ee2ae8152136c"
  matrixNeoChoiceWidget:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "nordeck/matrix-poll-widget"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["1", "4", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/matrix-poll-widget"
    tag: "1.6.1@sha256:4a931c659eae43e5fdcaab52cb5a55c01762857968e382d30da23886e6e83624"
  matrixNeoDateFixBot:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "nordeck/matrix-meetings-bot"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["2", "7", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/matrix-meetings-bot"
    tag: "2.8.6@sha256:00173ae306e6dd630616d4951888b5c920ef54b6a50bb5e2a2e8db2f96aa3109"
  matrixNeoDateFixWidget:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "nordeck/matrix-meetings-widget"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["1", "6", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/matrix-meetings-widget"
    tag: "1.7.3@sha256:b91181723e3612f648d21160817e91f6d5a8918ff69cc9fa04a5c7fa05006c83"
  matrixUserVerificationService:
    # providerCategory: "Supplier"
    # providerResponsible: "Element"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "matrixdotorg/matrix-user-verification-service"
    # upstreamMirrorTagFilterRegEx: '^v(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["3", "0", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/element/images-mirror/matrix-user-verification-service"
    tag: "v3.0.0@sha256:25e685d595785e2a72e75a525dac78cf8c782445454f8ac090d3702431c38008"
  memcached:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "bitnami/memcached"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-debian-(\d+)-r(\d+)$'
    # upstreamMirrorStartFrom: ["1", "6", "38", "12", "3"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/community/images-mirror/memcached"
    tag: "1.6.38-debian-12-r3@sha256:ea35c7d38b5e080a900991220323e31539b2877069d8aa4dc6814fe384e3c0da"
  migrations:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-migrations"
    tag: "1.11.0@sha256:d71ca096c0085ae894df75b0ad9a704b0cec7c6e578d0e19c345bb25563db211"
  milter:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "clamav/clamav"
    registry: "registry-1.docker.io"
    repository: "clamav/clamav"
    tag: "1.5.4_base@sha256:85dbdcae852ad2e51a54e4a6e29c099f45971df746204ffc1274cb7ef7ff3f7b"
  minio:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "bitnami/minio"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-debian-(\d+)-r(\d+)$'
    # upstreamMirrorStartFrom: ["2025", "4", "22", "12", "1"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/community/images-mirror/minio"
    tag: "2025.4.22-debian-12-r1@sha256:b5c26fa4a2cc2abffe096a54d9e7fd3976d72e38bd2186338b1a06d66c63e651"
  nextcloud:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-nextcloud"
    tag: "33.0.9@sha256:ccefc78be482a207033e030b53caa7b105a1a71bc645d3b32cd3e5503bd9459b"
  nextcloudExporter:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-nextcloud-exporter"
    tag: "1.0.3@sha256:d38f211a3cdc8397deccd0243061e20972a8a796eeb9bb552fe4ddec5d56c829"
  notesBackend:
    # providerCategory: "Supplier"
    # providerResponsible: "DINUM"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-notes"
    tag: "1.14.1-docs-v4.4.0-backend@sha256:e4a2633191efaf07113cd5025741556ca6977961d589f34d5c190507b65b1078"
  notesFrontend:
    # providerCategory: "Supplier"
    # providerResponsible: "DINUM"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-notes"
    tag: "1.14.1-docs-v4.4.0-frontend@sha256:46c4a11f8419bde8dbb2b9870eb2f1f87018ff06ae418a552644b646ea155266"
  notesYProvider:
    # providerCategory: "Supplier"
    # providerResponsible: "DINUM"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "lasuite/impress-y-provider"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/dinum/images-mirror/impress-y-provider"
    tag: "v4.4.0@sha256:125633f265463490b7646ad951528e621abbf7e2a5a9869be1811a0f25904dd8"
  nubusBlocklistCleanup:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/blocklist-cleanup"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "34", "2"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/blocklist-cleanup"
    tag: "0.46.2@sha256:16d24ee63c03ee4eba214d383186c03d964d5b08a06ad9cdf60dd54e535497bf"
  nubusDataLoader:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/data-loader"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "41", "5"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/data-loader"
    tag: "0.107.2@sha256:44fd61b2fda1125dfa8a85685c22eebccd7553112833c12d96bae546970d2b32"
  nubusKeycloak:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/keycloak"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)'
    # upstreamMirrorStartFrom: ["26", "6", "3"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/keycloak"
    tag: "26.7.2-nubus1@sha256:eb72d3a666f9f87328793364d20db823b2590188eeee5ad4d325c4bd8c3eef71"
  nubusKeycloakBootstrap:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/keycloak-bootstrap"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)'
    # upstreamMirrorStartFrom: ["26", "6", "3"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/keycloak-bootstrap"
    tag: "26.7.0-nubus2@sha256:3d110f73c3296e5edbf95edf40101b52bcab04c8adc3521800d33db818b59c7a"
  nubusKeycloakExtensionHandler:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/keycloak-handler"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "0", "3"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/keycloak-handler"
    tag: "0.24.13@sha256:153292e23fada0a2737013791cbe93f30911ce4dd4cf0a65c5f46c47cf896b71"
  nubusKeycloakExtensionProxy:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/keycloak-proxy"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "0", "3"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/keycloak-proxy"
    tag: "0.24.13@sha256:20730304d73c6a38d9ca5a3b1563b12e5bc7328a183a5e6e777b727017fb51e4"
  nubusLdapNotifier:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/ldap-notifier"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "8", "2"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/ldap-notifier"
    tag: "0.48.5@sha256:d2a76652f185856f8f01db98b283106c79383a34eb87fb671ef613fc30b903a2"
  nubusLdapServer:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/ldap-server"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "8", "2"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/ldap-server"
    tag: "0.48.5@sha256:9b9a0c3748357a634d2050168dbb33288933d19ecfc7e4a0cefcdd48d2a65b64"
  nubusLdapServerDhInitContainer:
    # providerCategory: 'Community'
    # providerResponsible: 'Univention'
    # upstreamRegistry: 'registry-1.docker.io'
    # upstreamRepository: 'natsio/nats-box'
    registry: "registry-1.docker.io"
    repository: "natsio/nats-box"
    tag: "0.19.7-nonroot@sha256:e86b9681f330ab1aa45744dd5cb367d44205b28fac2519a2f74ca0255803161a"
  nubusLdapServerLeaderElector:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/ldap-server-elector"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "29", "1"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/ldap-server-elector"
    tag: "0.48.5@sha256:7115a1d39eb9ff4fb4745b6eec1444a8fd37acc9d11e6978f7c50a0494b91dcd"
  nubusLicenseImport:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/license-import"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "8", "11"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/license-import"
    tag: "0.8.12@sha256:dc1e69f9d3fa561ecfefed4b07111174ccf7baacdae36dc78b4c6092a78e85d7"
  nubusNats:
    # providerCategory: 'Community'
    # providerResponsible: 'Univention'
    # upstreamRegistry: 'registry-1.docker.io'
    # upstreamRepository: 'library/nats'
    registry: "registry-1.docker.io"
    repository: "library/nats"
    tag: "2.14.3@sha256:7ff2e641c33dbdb0dd13a943ba0b70d841b71275c607baa53ef9b8661f0b2d8c"
  nubusNatsBox:
    # providerCategory: 'Community'
    # providerResponsible: 'Univention'
    # upstreamRegistry: 'registry-1.docker.io'
    # upstreamRepository: 'natsio/nats-box'
    registry: "registry-1.docker.io"
    repository: "natsio/nats-box"
    tag: "0.19.7-nonroot@sha256:e86b9681f330ab1aa45744dd5cb367d44205b28fac2519a2f74ca0255803161a"
  nubusNatsReloader:
    # providerCategory: 'Community'
    # providerResponsible: 'Univention'
    # upstreamRegistry: 'registry-1.docker.io'
    # upstreamRepository: 'natsio/nats-server-config-reloader'
    registry: "registry-1.docker.io"
    repository: "natsio/nats-server-config-reloader"
    tag: "0.23.0@sha256:64cb6c858e794906d3167378e02b7e0feb83c4e14c07b371eb8d921ef8c4a60b"
  nubusNotificationsApi:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/notifications-api"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "9", "4"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/notifications-api"
    tag: "0.94.22@sha256:3b4f3446474c6d0b3c000d2c558ca518edb610575b8066728b977723abc2d055"
  nubusOpendeskExtension:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-nubus"
    tag: "1.18.0@sha256:330ea01e962c78eb9af1cfc78483f28c1e3da8357b439c9d74c3bbd30b59cc96"
  nubusOpendeskExtensionA2gMapper:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-nubus-a2g-mapper"
    tag: "1.0.1@sha256:527cf7d0515df441b7ac8bc29b40f8703c87246ddc9594d9e24531571dc6359d"
  nubusOxExtension:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/ox-extension"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "10", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/ox-extension"
    tag: "0.42.1@sha256:d632656df059fb525d47d91d22ddf9ab6167df40099a441708721bae153b1a71"
  nubusPortalAssetLoader:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/portal-asset-loader"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "94", "5"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/portal-asset-loader"
    tag: "0.94.22@sha256:df819b9276495810f2b590eab229c8c7d02260f9aad37fafe5c58ec86db4869c"
  nubusPortalConsumer:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/portal-consumer"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "27", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/portal-consumer"
    tag: "0.94.22@sha256:0d83dfa7de3297370de572555b461925e96e5c582ffd564c7f92cec25d1dafa0"
  nubusPortalExtension:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/portal-extension"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "28", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/portal-extension"
    tag: "0.94.21@sha256:9367aae0848e7865e78bb63d105879ac59c1e1a0c9fe5291984e108edd8f0c8c"
  nubusPortalFrontend:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/portal-frontend"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "67", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/portal-frontend"
    tag: "0.94.22@sha256:0019a04368d8cdb0108f535b4dc4c7608339ab15ce43f8bffabfeab07f3cdf28"
  nubusPortalServer:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/portal-server"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "9", "4"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/portal-server"
    tag: "0.94.22@sha256:cae1bd29da48c799b6988438885db011c7d34cef951bf8018f702501fd1d98d1"
  nubusProvisioningApi:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/provisioning-api"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "66", "3"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/provisioning-api"
    tag: "2.2.2@sha256:388602d16647a4f2e0a1e234bce7d17b4eeeea21dd8665804923797e3230fdd8"
  nubusProvisioningDispatcher:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/provisioning-dispatcher"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "14", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/provisioning-dispatcher"
    tag: "2.2.2@sha256:d8d0c5a2e483e28f0918c87b11ff23bff4cd9e3cde3a8d8a5fef7796f0945bf2"
  nubusProvisioningPrefill:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/provisioning-prefill"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "14", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/provisioning-prefill"
    tag: "2.2.2@sha256:c6fdfa58787461197b770556478d0203eb7d772bc3ade6a76a8dd0483666ebdc"
  nubusProvisioningUdmListener:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/provisioning-udm-listener"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "14", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/provisioning-udm-listener"
    tag: "2.2.2@sha256:fe4a3cbb54bcc3266a95fd3cea45b4307f9cd145539863033ffe57132f66f1a2"
  nubusProvisioningUdmTransformer:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/provisioning-udm-transformer"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "14", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/provisioning-udm-transformer"
    tag: "2.2.2@sha256:f3034d96e8072374e95df7e8e7c906fe92d69f4b8bdb65e487e5a9ff522e964b"
  nubusSelfServiceConsumer:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/selfservice-invitation"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "3", "2"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/selfservice-invitation"
    tag: "0.20.14@sha256:13e15e3e819d0899a591116d8a81f9fc23002ae4027ae7b50a224b29676c0de5"
  nubusUdmRestApi:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/udm-rest-api"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "9", "3"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/udm-rest-api"
    tag: "0.46.2@sha256:66a98b627b2cd801e74f51d117d40d8acb6d592b26e72033d552e33ddf50b0d2"
  nubusUmcGateway:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/umc-gateway"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "7", "3"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/umc-gateway"
    tag: "0.59.2@sha256:137fef6065b7486754c675be72e58365749e44cbb11a70c0f0a2d3e70a01429d"
  nubusUmcServer:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/umc-server"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "7", "3"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/umc-server"
    tag: "0.59.2@sha256:0a4876c32bb42ae94dc1cee6a97a8fa10ac714ce36fbd9062b0b65feb4a32fe9"
  nubusUmcServerProxy:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "traefik"
    registry: "registry-1.docker.io"
    repository: "library/traefik"
    tag: "v3.7.11@sha256:5203c3f39ca70de6790d964624e042463ffbd57715bc82be155cf224c0dd5144"
  nubusWaitForDependency:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/wait-for-dependency"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "9", "4"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/wait-for-dependency"
    tag: "0.36.12@sha256:7150d72c8f342a05b945ce1b21464864aa91590d00f65ebe4b628571cce34efc"
  opendeskKeycloakBootstrap:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-keycloak-bootstrap"
    tag: "1.5.2@sha256:240066fd7953e2c6753ac972ca72b2b0646b9b183288afa102492fa0ebeb3172"
  opendeskStaticFiles:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "library/nginx"
    registry: "registry-1.docker.io"
    repository: "library/nginx"
    tag: "1.28.0-alpine3.21@sha256:aed99734248e851764f1f2146835ecad42b5f994081fa6631cc5d79240891ec9"
  opendeskTrust:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry.opencode.de"
    # upstreamRepository: "bmi/opendesk/components/platform-development/images/opendesk-certificates"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-certificates"
    tag: "1.1.2@sha256:6ab98c4fa18c622cc0910c246a1e5a4573053416865ae698f1fb3081b42abe83"
  openproject:
    # providerCategory: "Supplier"
    # providerResponsible: "OpenProject"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "openproject/open_desk"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-?\d*$'
    # upstreamMirrorStartFrom: ["13", "1", "1"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/openproject/images-mirror/open_desk"
    tag: "17.8.0@sha256:1b7272bb1e3bf12b5dcc97d44eb69253ac9a5287e98a1f7d6d1e7f7c7f945ab3"
  openprojectBootstrap:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-openproject-bootstrap"
    tag: "1.2.0@sha256:7d2ab97a8cd17aa2c12a6d613044c848edf0371974662390eb08c197aa12b84a"
  openprojectDbInit:
    # providerCategory: "Community"
    # providerResponsible: "OpenProject"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "library/postgres"
    registry: "registry-1.docker.io"
    repository: "library/postgres"
    tag: "16.9-alpine3.20@sha256:e5507c984377515b8c9922b0eb19f55aba2063fdc7bccf268cefd53133f97054"
  openprojectHocuspocus:
    # providerCategory: "Supplier"
    # providerResponsible: "OpenProject"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "openproject/hocuspocus"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-?\d*$'
    # upstreamMirrorStartFrom: ["17", "6", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/openproject/images-mirror/hocuspocus"
    tag: "17.8.0@sha256:f37a8d647d172f4206308bdbf4910bbec0c19433b8870c7431fe0dc45a5a7682"
  openxchangeBootstrap:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "alpine/k8s"
    registry: "registry-1.docker.io"
    repository: "alpine/k8s"
    tag: "1.34.0@sha256:b5f6edfeac5279f3e182d938d1ffecb62f7c980756ac4b6b66d7f0d566782f77"
  openxchangeCoreGuidedtours:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/core-guidedtours"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["8", "6", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/core-guidedtours"
    tag: "8.7.4@sha256:c95acd7b51f64663998d2db973a91d2a8fe4d170ea218d3cd231fa200eaf16d6"
  openxchangeCoreMW:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/middleware-public-sector"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["8", "20", "51"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/middleware-public-sector"
    tag: "8.51.129@sha256:d144e969a262d2cc563e6b5bbe40a2ce54950e2cef702b34baf402101768fc82"
  openxchangeCoreUI:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/core-ui"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["8", "20", "1"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/core-ui"
    tag: "8.51.3@sha256:d391bb09eecbad2cf647c3ed273a90f2fa294ac04380954c81dd1ce7c8652f1b"
  openxchangeCoreUIMiddleware:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/core-ui-middleware"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["2", "0", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/core-ui-middleware"
    tag: "3.1.2@sha256:75cd00e82279824f7265af1fd183b3f638f53e5615c52cdce98ec0ef1d8c41a1"
  openxchangeCoreUserGuide:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/core-user-guide"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["8", "20", "799279"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/core-user-guide"
    tag: "8.51.2699713927@sha256:ec7f7e0e051d1c9076d421596b8a63114ded3776581884672fd7a0ff2045c60f"
  openxchangeDocumentConverter:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/documentconverter"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["8", "20", "50"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/documentconverter"
    tag: "8.51.2111@sha256:1a98ac8038e2c7aa100cb31273f8151c13c91144f4e69aff736cafc63ccd6ed5"
  openxchangeGotenberg:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/gotenberg"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["7", "9", "2"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/gotenberg"
    tag: "8.15.3@sha256:0864c9cd905264f714f0c306d5b38eec8599b908c9096e0283b5db3ff6706172"
  openxchangeGuardUI:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/guard-ui"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["4", "2", "2"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/guard-ui"
    tag: "8.51.0@sha256:236a5ae3cc372191c0201c083312c01f2d12da7e715cb364679d06fefaf029d4"
  openxchangeImageConverter:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/imageconverter"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["8", "20", "50"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/imageconverter"
    tag: "8.51.2597@sha256:93390cfdf2f36815a2d572f56736fe428d27aaef227713f0979a2fefbf03e690"
  openxchangeNextcloudIntegrationUI:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/nextcloud-integration-ui"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["1", "2", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/nextcloud-integration-ui"
    tag: "1.4.2@sha256:b52b0d1735e545fb6ec1cb064aa229135b0503295e8ac672a06816a364a7a18e"
  openxchangePublicSectorUI:
    # providerCategory: "Supplier"
    # providerResponsible: "Open-Xchange"
    # upstreamRegistry: "https://registry.open-xchange.com"
    # upstreamRepository: "appsuite-public-sector/public-sector-ui"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["2", "2", "1"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/open-xchange/images-mirror/public-sector-ui"
    tag: "2.6.2@sha256:8f413ad1174402cab5afa04b71a6cc98f3b2b70ab0f1b99464311ca77ebcff5f"
  oxConnector:
    # providerCategory: "Supplier"
    # providerResponsible: "Univention"
    # upstreamRegistry: "https://artifacts.software-univention.de"
    # upstreamRepository: "nubus/images/ox-connector-standalone"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["0", "41", "1"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/univention/images-mirror/ox-connector-standalone"
    tag: "0.42.1@sha256:16a17bf4d2ca2074d16ec708798012c9543091028cd3bc5a10e1c8be4fb14a64"
  postfix:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/postfix"
    tag: "3.1.6@sha256:6758c79389132bdfb91f3947cd96daaac9d58921a6f8e7b97d64fdd181d3cd75"
  postfixBootstrap:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "alpine/k8s"
    registry: "registry-1.docker.io"
    repository: "alpine/k8s"
    tag: "1.36.2@sha256:44ef4942e171939b9c665a4a84beb80e2dcdb9a24330d4651cfdfd2e9deecc47"
  postgresql:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "library/postgres"
    registry: "registry-1.docker.io"
    repository: "library/postgres"
    tag: "15.13-alpine3.20@sha256:f7de0e2497b9a3b027d41377606f94bb0140a034ed303f6de690aa77637bfbc9"
  prosody:
    # providerCategory: "Supplier"
    # providerResponsible: "Nordeck"
    # upstreamRegistry: "https://ghcr.io"
    # upstreamRepository: "jitsi/prosody"
    # upstreamMirrorTagFilterRegEx: '^stable-(\d+)-?\d?$'
    # upstreamMirrorStartFrom: ["11146"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/nordeck/images-mirror/prosody"
    tag: "stable-11146-1@sha256:4f4a1bb1386585561ea152020073db40a8b839ac98fb81c0bd2be2b9706385fb"
  provisioningConnector:
    # providerCategory: "Platform"
    # providerResponsible: "openDesk"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/platform-development/images/opendesk-provisioning-connector"
    tag: "1.0.4@sha256:b71058e9e7dbf7cf073fe08a9ad534b8f91895a080f60f14ca9953494a837ae3"
  redis:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "bitnami/redis"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-debian-(\d+)-r(\d+)$'
    # upstreamMirrorStartFrom: ["7", "4", "3", "12", "0"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/community/images-mirror/redis"
    tag: "7.4.3-debian-12-r0@sha256:fbdf361bbb6a17be28913fb9e4a1cfe3244331d2cbf449ecfe7a1fbbab02efc4"
  seaweedfs:
    # providerCategory: "Community"
    # providerResponsible: "openDesk"
    # upstreamRegistry: "https://registry-1.docker.io"
    # upstreamRepository: "chrislusf/seaweedfs"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)$'
    # upstreamMirrorStartFrom: ["4", "17"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/community/images-mirror/seaweedfs"
    tag: "4.17@sha256:186de7ef977a20343ee9a5544073f081976a29e2d29ecf8379891e7bf177fbe9"
  synapse:
    # providerCategory: "Supplier"
    # providerResponsible: "Element"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/element/images-mirror/synapse"
    tag: "v1.157.2@sha256:3827b727cb40c52d7d4806db2eb96058eb4514e94a79ca1d7b805de7a8fc44d9"
  synapseCreateUser:
    # providerCategory: "Community"
    # providerResponsible: "Nordeck"
    registry: "registry-1.docker.io"
    repository: "alpine/k8s"
    tag: "1.36.2@sha256:44ef4942e171939b9c665a4a84beb80e2dcdb9a24330d4651cfdfd2e9deecc47"
  synapseGuestModule:
    # providerCategory: "Supplier"
    # providerResponsible: "Element"
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/element/images-mirror/synapse-guest-module"
    tag: "1.0.1@sha256:a8c02b2eb4dfea9632b32d00415af8d5276870fa150fac392914f67053c161ea"
  synapseWeb:
    # providerCategory: "Community"
    # providerResponsible: "Element"
    registry: "registry-1.docker.io"
    repository: "rapidfort/haproxy-official"
    tag: "3.1.8-bookworm@sha256:0e9c25e96fddda659c0690ed809cd7db2c08035587fb896a917313b57955ec3e"
  wellKnown:
    # providerCategory: "Community"
    # providerResponsible: "Element"
    registry: "registry-1.docker.io"
    repository: "library/nginx"
    tag: "1.30.4-alpine3.24@sha256:97d490c12ba55b4946b01546d1c3ed324e8d41ab1c9fcb2a616aa470620e5b46"
  xwikiMariadb:
    # providerCategory: "Supplier"
    # providerResponsible: "XWiki"
    # upstreamRegistry: "https://git.xwikisas.com:5050"
    # upstreamRepository: "xwikisas/swp/xwiki"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-?[0-9A-Z]*-mariadb.+$'
    # upstreamMirrorStartFrom: ["17", "4", "7"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/xwiki/images-mirror/xwiki"
    tag: "17.10.9-mariadb-jetty-alpine@sha256:4996fb9392e7fc26d0bf949a6dd0818dfc2e80c98a21283a8f7ff4406c7dadcb"
  xwikiPostgres:
    # providerCategory: "Supplier"
    # providerResponsible: "XWiki"
    # upstreamRegistry: "https://git.xwikisas.com:5050"
    # upstreamRepository: "xwikisas/swp/xwiki"
    # upstreamMirrorTagFilterRegEx: '^(\d+)\.(\d+)\.(\d+)-?[0-9A-Z]*-postgres.+$'
    # upstreamMirrorStartFrom: ["17", "4", "7"]
    registry: "registry.opencode.de"
    repository: "bmi/opendesk/components/supplier/xwiki/images-mirror/xwiki"
    tag: "17.10.9-postgres-jetty-alpine@sha256:257cd947bf9a5e845f37c85c2e213bc340c5570d8fd38c898f8933654c36d369"
...
