# SPDX-FileCopyrightText: 2024-2026 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-FileCopyrightText: 2023 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
# SPDX-License-Identifier: Apache-2.0
#
# Disclaimer:
# We assume that you are very aware of what you are doing when working wih SELinux settings and that you can easily
# break the affected components with these settings.
---
seLinuxOptions:
  cassandra: {}
  clamavSimple: {}
  clamav: {}
  clamd: {}
  collabora: {}
  collaboraController: {}
  cryptpad: {}
  dkimpy: {}
  dovecot: {}
  elementAdmin: {}
  elementCustomization: {}
  elementWeb: {}
  freshclam: {}
  icap: {}
  intercom: {}
  # The Jibri Helm chart does not support setting the securityContext externally.
  # jibri: ~
  jicofo: {}
  jigasi: {}
  jitsi: {}
  jitsiKeycloakAdapter: {}
  jitsiPatchJVB: {}
  jvb: {}
  mariadb: {}
  matrixAuditbot: {}
  matrixAuthenticationService: {}
  matrixHaproxy: {}
  matrixInitSecrets: {}
  matrixNeoBoardWidget: {}
  matrixNeoChoiceWidget: {}
  matrixNeoDateFixBot: {}
  matrixNeoDateFixWidget: {}
  matrixRTC: {}
  matrixRTCSfu: {}
  matrixSupervision: {}
  matrixUserVerificationService: {}
  memcached: {}
  migrations: {}
  milter: {}
  minio: {}
  seaweedfs: {}
  neoboard: {}
  nextcloud: {}
  nextcloudExporter: {}
  nextcloudManagement: {}
  notesBackend: {}
  notesFrontend: {}
  notesDocspec: {}
  notesYProvider: {}
  opendeskKeycloakBootstrap: {}
  opendeskTrust: {}
  opendeskStaticFiles: {}
  openproject: {}
  openprojectBootstrap: {}
  openprojectDbInit: {}
  openxchangeBootstrap: {}
  openxchangeCoreGuidedtours: {}
  openxchangeCoreMW: {}
  openxchangeCoreUI: {}
  openxchangeCoreUIMiddleware: {}
  openxchangeCoreUserGuide: {}
  openxchangeDocumentConverter: {}
  openxchangeGotenberg: {}
  openxchangeGuardUI: {}
  openxchangeImageConverter: {}
  openxchangeNextcloudIntegrationUI: {}
  openxchangePluginsUI: {}
  openxchangePublicSectorUI: {}
  oxConnector: {}
  postfix: {}
  postgresql: {}
  prosody: {}
  provisioningSynapse: {}
  redis: {}
  synapse: {}
  synapseCreateUser: {}
  synapseGuestModule: {}
  umsGuardianAuthorizationApi: {}
  umsGuardianManagementApi: {}
  umsGuardianManagementUi: {}
  umsGuardianOpenPolicyAgent: {}
  umsKeycloak: {}
  umsKeycloakBootstrap: {}
  umsKeycloakExtensionHandler: {}
  umsKeycloakExtensionProxy: {}
  # umsLdapNotifier and umsLdapServer share a PVC (the ldap-notifier reads the transaction data the
  # ldap-server writes). On SELinux-enforcing clusters both pods must carry the SAME MCS label, so
  # these two options MUST be set to the same SELinux level, e.g. `{ level: "s0:c100,c200" }`.
  umsLdapNotifier: {}
  umsLdapServer: {}
  umsPortalFrontend: {}
  umsPortalConsumer: {}
  umsPortalServer: {}
  umsProvisioning: {}
  umsProvisioningNats: {}
  umsSelfserviceConsumer: {}
  umsStackDataUms: {}
  umsUdmListener: {}
  umsUdmRestApi: {}
  umsUmcGateway: {}
  umsUmcServer: {}
  xwiki: {}
...
